*{
    margin:0;
    padding:0;
    font-size:14px;
    font-family: "微软雅黑";
}
body{
	background-color: #dbdfda;
	height:500px;
}
#header{
	width:100%;
	height:250px;
	background: url(../images/top_p.jpg) no-repeat 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.header_middle{
	width: 70%;
	height:100%;
	margin: 0 auto;
	
}
h1{
	font-size: 45px;
	text-align: center;
	padding-top: 10%;
	color:#ffffff;
}
#box{
	width:84%;
	height: 700px;
	margin:0 auto;
	margin-top: -250px;
	border-left: 1px solid #8a8b88;
	border-right: 1px solid #8a8b88;
	box-shadow: 0px -1px 40px #8a8b88;
}
#container{
	width:100%;
	height: 450px;
	position:relative;
	top:250px;
	background-color:#FFFFFF ;
	
}
#container a{
	color:#1d2088;
}
table{
	width: 94%;
	padding-top: 50px;
	border-spacing: 2px;
	margin: 0 auto;
}
tr td{
    border:0px;
    height:30px;
    border-radius: 6px;
    text-align:center;
}
.tdOne1{
	width:50px;
	background-color: #d2d2d2;
}
.tdOne2{
	width:60px;
	background-color: #d2d2d2;
}
.tdOne3{
	width:150px;
	background-color: #d2d2d2;
}
.tdTwo1{
	width:50px;
	background-color: #edf6e0;
}
.tdTwo2{
	width:60px;
	background-color: #edf6e0;
}
.tdTwo3{
	width:150px;
	background-color: #edf6e0;
}
.tdTwo3 a{font-size: 13px;}
.footer{
	width: 75%;
	height:20px;
	margin: 0 auto;
	position: relative;
	top: 15px;
}
.footer table{
	width: 100%;
	border-spacing: 2px;
	margin: 0 auto;
	position:relative;
	top:-52px;
}
.footer td{
	height:20px;
	border-radius: 4px;
}
.footer a{
	text-decoration: none;
}
.td1{
	width: 60px;
	text-align: left;
}
.td2{
	width: 250px;
	text-align: left;
}
.td3{
	width: 30px;
	text-align: left;
}
.td4{
	width: 30px;
	text-align: left;
}
.td5{
	width: 30px;
	text-align: left;
}
.td6{
	width: 70px;
	text-align: left;
}
.td7{
	width: 30px;
	background-color: #a0a0a0;
	text-align: center;
}


