﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Graduate_index.aspx.cs" Inherits="WebUI.handler.Graduate.Graduate_index" %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../css/style.css" rel="stylesheet">
    <script type="text/javascript" src="../../js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="../../js/scroller_roll.js"></script>
    <title>毕业生档案查询系统</title>
  <script type="text/javascript">
      function startTime() {
          //获取当前系统日期
          var today = new Date()
          var h = today.getHours()
          var m = today.getMinutes()
          var s = today.getSeconds()
          //调用checkTime（）函数，小于十的数字前加0
          m = checkTime(m)
          s = checkTime(s)
          //s设置层txt的内容
          document.getElementById('txt').innerHTML = h + ":" + m + ":" + s
          //过500毫秒再调用一次
          t = setTimeout('startTime()', 500)
          //小于10，加0
          function checkTime(i) {
              if (i < 10)
              { i = "0" + i }
              return i
          }
      }
    </script>
</head>
<body onload="startTime()" style="width:1280px; margin:auto">
    <div id="header">
        <img src="../../images/guetlogo.png" class="logoImg">
        <div id="top_container">
            <h1><img src="../../images/title.png"></h1>
            <div id="left_top">
                <ul class="ul1">
                    <li style="width:200px;"><a href="#">桂林电子科技大学</a></li>
                    <li style="width:250px;"><a href="#">桂林电子科技大学学工部（处）</a></li>
                </ul>
            </div>
            <div id="right_top">
                <ul class="ul2">
                    <li style="width:150px;padding-right:0;"><a href="#">咨询留言</a></li>
                    <li style="width:150px;"><a href="#">常见问题解答</a></li>
                </ul>
            </div>
			<div id="toknew">
			      <p>毕业生档案一般于七月中旬通过EMS特快或机要寄到派遣证（报到证）上所写的单位或派遣证上单位的存档机构。</p>
				  <p>通常需要1－2周时间到达，请各位同学耐心等待，如需查询请与派遣证（报到证）上所写的单位联系。？</p>
			</div>
     <!--       <div id="scroller_roll1" class="scroller_roll">
                <ul>
                    <li><i class="title_img"></i><a hreft="">暑假放假通知</a></li>
                    <li><i class="title_img"></i><a hreft="">2015毕业生档案寄出通知</a></li>
                    <li><i class="title_img"></i><a hreft="">查询我的档案信息或邮寄存根是0条记录</a></li>
                </ul>
            </div> -->
   <!--         <script language="javascript" type="text/javascript">
                $(function () {
                    $("#scroller_roll1").scroller_roll({
                        title_show: 'enable',//enable  disable
                        time_interval: '15',
                        show_count: '5'
                    });
                });
            </script>  -->

        </div>
    </div>
    <div id="content">
        <div id="table_container">
            <div style="margin-left:120px;">
                现在是：
                <script language="JavaScript">
                    today = new Date();
                    year = today.getYear();
                    month = today.getMonth() + 1;
                    day = today.getDate();
                    if (year < 2000) year += 1900;
                    document.write(year + "年" + month + "月" + day + "日");
                </script>
                星期
                <script language="JavaScript">
                    today = new Date();
                    dayofweek = today.getDay();
                    Day = new Array(7);
                    Day[0] = "日"; Day[1] = "一";
                    Day[2] = "二"; Day[3] = "三";
                    Day[4] = "四"; Day[5] = "五";
                    Day[6] = "六";
                    document.write(Day[dayofweek]);
                </script>
            </div>
            <div id="txt"></div>
		   <ul id="notice">
		       <li style="font-size:18px;color:#707070;">注意：</li>
               <li>1．请在查询条件输入姓名，点击查询（如有重名的请通过学号、学院区分）。 </li>
               <li>2．部分学生输入姓名未能查询到档案转递信息时，请来电查询，电话 0773-2291958</li>
		   </ul>

            <table class="indexTable">
                <tr><td class="tableTd1">姓名</td><td class="td2"><input type="text" style="" id="name"><spen style="color:red; margin-left:10px; font-size:16px">*</spen></td></tr>
                <tr><td class="tableTd1">学号</td><td class="td2"><input type="text" style="" id="stuid"></td></tr>
                <tr>
                    <td class="tableTd1">性别</td>
                    <td class="td2">
                        <select>
                            <option value="本科毕业生">男</option>
                            <option value="专科毕业生">女</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tableTd1">学院</td>
                    <td class="td2">
                        <select>
                            <option value="">机电工程学院</option>
                            <option value="">信息与通信学院</option>
                            <option value="">计算机与信息安全学院</option>
                            <option value="">艺术与设计学院</option>
                            <option value="">商学院</option>
                            <option value="">外国语学院</option>
                            <option value="">数学与计算科学学院</option>
                            <option value="">电子工程与自动化学院</option>
                            <option value="">法学院</option>
                            <option value="">公共事务学院∕马克思主义学院</option>
                            <option value="">材料科学与工程学院</option>
                            <option value="">生命与环境科学学院</option>
                            <option value="">建筑与交通工程学院</option>
                            <option value="">继续教育学院</option>
                            <option value="">职业技术学院</option>
                            <option value="">海洋信息工程学院</option>
                            <option value="">国际学院</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div id="btn">
                <input type="button" value="搜索" style="margin-right:40px;" onclick="search()">
                <input type="button" value="重置">
            </div>
        </div>
    </div>
    <div id="footer">
        <p>2010版权所有桂林电子科技大学 </p>
        <p>联 系 电 话 ： 0773-2291958 </p>
     

    </div>
    <script>
        function search() {
            var name = document.getElementById("name").value;
            var stuid = document.getElementById("stuid").value;
            location.href = "search_list.aspx?name=" + name + "&stuid=" + stuid;
        }
    </script>
</body>
</html>
</html>
